   * {
            margin: 0;
            padding: 0;
	      box-sizing: border-box;
        }

        .testimonial-container {
            padding: 10px;
            background-color: #f5f5f5;
            text-align: left;
			font-size: small;
        }

        .testimonial {
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #fff;
            margin-bottom: 20px;
        }

        .testimonial p {
            margin: 0;
        }

        .author {
            text-align: right;
            font-style: italic;
            margin-top: 10px;
        }
.p{
	text-align: left;
	font-size: small;
}